* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  text-decoration: none;
}

nav {
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
  position: sticky;
  top: 0;
}

header {
  max-width: 1440px;
  height: 87px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul li {
  list-style: none;
}

header a {
  color: #000;
  font-weight: bold;
}

.header-right img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo a {
  font-size: 26px;
  color: #8dd3bb;
}

.header-left ul {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header-right ul {
  width: 260px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  width: 1232px;
  height: 120px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form fieldset {
  padding: 4px 30px;
  border-radius: 5px;
  cursor: pointer;
  cursor: pointer;
}

form input,
select {
  border: none;
  cursor: pointer;
}

form button {
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: #8dd3bb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

/* filters */
.filters {
  width: 1232px;
  height: 1428px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.filter {
  width: 343px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filter ul li {
  list-style: none;
}

.filter details {
  width: 100%;
  height: 170px;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.filter details ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter details input {
  width: 100%;
}

.filter h3 {
  font-size: 40px;
}

.pri {
  font-size: 20px;
  margin-bottom: 30px;
}

.depa {
  margin-bottom: 30px;
  font-size: 20px;
}

.rate {
  margin-bottom: 30px;
  font-size: 20px;
}

.air {
  font-size: 20px;
}

.trip {
  font-size: 20px;
}

.tex {
  font-size: 20px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 7px;
  border: none;
  border: 1px solid black;
}

.line {
  width: 0.5px;
  height: 1360px;
  background-color: #112211;
}

.filter-cards {
  width: 840px;
  height: 1428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.filter-sort {
  width: 840px;
  height: 80px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filter-sort-card {
  width: 160px;
  height: 45px;
}

.filter-sort-line {
  width: 0.2px;
  height: 48px;
  background-color: #999;
}

.filter-sort-othercard {
  width: 160px;
  height: 24px;
}

.filter-sort-card span {
  color: gray;
}

.filter-sort-othercard i {
  margin-right: 10px;
}

.best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  border-bottom: 5px solid #8dd3bb;
}

.filter-show {
  width: 840px;
  height: 18px;
}

.filter-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-show-left span {
  color: rgb(226, 73, 73);
}

.card-filter {
  width: 840px;
  height: 286px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-filter-left img {
  width: 160px;
}

.card-filter-right {
  width: 648px;
  height: 238px;
}

.filter-cards button {
  width: 840px;
  height: 48px;
  background-color: #000;
  color: white;
  border-radius: 10px;
}

footer {
  width: 100%;
  height: 422px;
  background-color: #8dd3bb;
  margin: auto;
  z-index: -1;
  margin-top: 220px;
}

.subscribe-newsletter {
  width: 1232px;
  height: 305px;
  border-radius: 20px;
  background-color: #CDEAE1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: 10;
  transform: translateY(-150px);
  padding: 20px;
}

.subscribe-newsletter-left {
  width: 593px;
  height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subscribe-newsletter h2 {
  font-size: 54px;
}

.subscribe-newsletter b {
  font-size: 30px;
}

.subscribe-newsletter p {
  font-size: 20px;
}

.inputs {
  display: flex;
  width: 593px;
  height: 56px;
}

.input1 {
  width: 473px;
  height: 56px;
  border-radius: 5px;
  border: none;
}

.input1 {
  padding-left: 10px;
  font-size: 20px;
}

.input2 {
  background-color: #000;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  width: 104px;
  height: 56px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: -80px;
}

.footer-col {
  margin-bottom: 30px;
  min-width: 150px;
}


.logo {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.logo span {
  position: relative;
}

.social-links a {
  color: #000;
  font-size: 18px;
  margin-right: 15px;
  text-decoration: none;
}

.footer-col h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
}